= render 'form'

- if games.present?
  %h3
    Wyniki wyszukiwania dla:
    - if category.present?
      = category.name
    - else
      #{search_query[:title]}


  = render '/dashboard/games/game'
- else
  %h3 Brak wyników wyszukiwania dla podanej frazy.
